div {outline: 1px solid red;}

body
    {
    background-color:#fcfaea;
    }

.logoarea
    {
    max-width: 920px; 
    margin-left: auto;  
    margin-right: auto; 
    margin-top: 30px;  
    overflow: hidden;   
    }

.logo
    {
    width: 75px;  
    float: left;  
    color: #a0e7f4;  
    font-size: 8.5rem;  
    font-weight: bold;
    }

.slogan
    {
    width: 380px;  
    float:left;  
    color: #414141;  
    font-family: sans-serif;  
    font-size: 0.9rem;  
    margin-top: 68px;
    margin-left: 40px;
    }

.menu
    {
    background-color: #fcfaea;  
    height: 62px;  
    margin-left: auto; 
    margin-right: auto;  
    margin-top: 10px;
    max-width: 920px;
    }

.menu ul 
    {  
    padding: 18px 10px; 
    }

.menu li 
    {
     border-right: 3px solid #a0e7f4;  
     display: block;  
     float: left;  
     font-family: sans-serif;  
     padding: 6px 20px;
    }

.menu li:last-child 
    {  
    border-right: none; 
    }

.descriptionbox 
  {
   max-width: 920px;
   margin: auto;
   max-height: 400px;
  }

.pictureone
{
 float:left;
 width: 360px; 
    
}


.About
{
width: 400px;
float: left;
margin-left: 30px;
margin-top: 40px;
font-family: sans-serif;  
}

.contentbox
{
margin-left: 300px;
margin-top: 270px;
max-width: 920px;
max-height: 500px;
    
}

.verticalmenu 
{
 max-width: 200px;
 height: 480px;

}

.verticalmenu ul 
{
  padding: 10px;  
}

.verticalmenu li 
{
     border-left: 3px solid #a0e7f4;  
     display: block;  
     float: left;  
     font-family: sans-serif;  
     padding: 40px 20px;
     margin: 10px 2px ;
}

.contenttext
{
 width: 500px;
 margin-left: 250px;
 text-align: center;
  
}